.draw__container {
  background-image: url('../assets/rockywall.png');
  background-size: contain;
  width: 100%;
  min-height: 100vh;

  h1 {
    margin: 0
  }

}

.draw__title {
  @include title
}


.draw__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;

}

.drawCards__front {
  width: 45%;
  min-height: 30vh;
  border-radius: $border-radius;
  background-color: $color-lightBlue;

}

.drawCards__back {
  width: 100%;
  min-height: 30vh;
  background-color: $color-mint;
  padding: 10px;
  font-family: $main-fonts;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  box-shadow: -1px 0px 2px 1px gray;
  border-radius: $border-radius;

  h2 {
    margin-bottom: 10px;
    color: $color-lightBlue;
    font-size: $font-size * 1.2;
  }

  p {
    align-self: flex-start;
    padding: 5px;
    font-size: 12px;
    color: white;
    letter-spacing: 1px;
  }

}





.flippy-front,
.flippy-back {
  padding: 0px !important;
}