.draw__container {
  background-image: url('../assets/rockywall.png');
  background-size: contain;
  width: 100%;
  min-height: 100vh;

  h1 {
    margin: 0
  }

}

.draw__title {
  font-family: $main-fonts;
  text-align: center;
  color: $color-marin;
  padding-top: 40px;
  padding-bottom: 40px;
}


.draw__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.myCards__front {
  position: unset !important;
  width: 200px;
  height: 200px;
}

.myCards__back {
  width: 200px;
  height: 200px;
}

.Flipcard-back,
.Flipcard-front {
  position: unset !important;
}