.draw__container {
  background-image: url('../assets/rockywall.png');
  background-size: contain;
  width: 100%;
  min-height: 100vh;

  h1 {
    margin: 0
  }

}

.draw__title {
  @include title
}


.draw__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;

}

.myCards__front {
  width: 150px;
  height: 200px;
  border-radius: $border-radius;
  background-color: $color-lightBlue;
}

.myCards__back {
  width: 150px;
  height: 200px;

}

.flippy-front,
.flippy-back {
  padding: 0px !important;
}